{% extends 'template.html.twig' %}

{% block title %}
    Eder's Test
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-3">Name</th>
                <th class="col-md-8">Description</th>
                <th class="col-md-1">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.description }}</td>
                    <td>  <a onclick="openModal('{{ project.name }}')" href="#"> open </a> </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center"> No results were found </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="details-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><strong class="title"></strong></h4>
                </div>
                <div class="modal-body">

                        <div class="row">
                            <label class="col-md-2"><strong>Description</strong></label>  
                            <div class="col-md-8">
                                <span class="description"> </span>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-2"><strong>Homepage</strong></label>  
                            <div class="col-md-2">
                                <a class="homepage" href="#" target="_blank"> visit </a> 
                            </div>
                        </div>
           
                        <div class="row">
                            <label class="col-md-2"><strong>Default Branch</strong></label>  
                            <div class="col-md-2">
                                <span class="branch"> </span>
                            </div>
                        </div>
           
                        <div class="row">
                            <label class="col-md-2"><strong>Language</strong></label>  
                            <div class="col-md-2">
                                <span class="language"> </span>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-2"><strong>Create at</strong></label>  
                            <div class="col-md-4">
                                <span class="create"> </span>
                            </div>
                        </div>
           
                        <div class="row">
                            <label class="col-md-2"><strong>Update at</strong></label>  
                            <div class="col-md-4">
                                <span class="update"> </span>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-2"><strong>Clone SSH</strong></label>  
                            <div class="col-md-8">
                                <span class="clone-ssh"> </span>
                            </div>

                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
